## NYC VEHICLE COLLISION ANALYSIS

### Q1_PART ONE
* Use ‘vehicle_collisions’ data set.
* For each month in 2016, find out the percentage of collisions in Manhattan out of that year's total accidents in New York City.
* Display a few rows of the output use df.head().
* Generate a csv output with four columns (‘Month’, ‘Manhattan’, ‘NYC’, ‘Percentage’)

### ? does the nan conted in the accident?

In [133]:
from pandas import Series, DataFrame
import pandas as pd

In [161]:
import csv

In [135]:
car = pd.read_csv('Data/vehicle_collisions.csv')

In [136]:
car.head()

,UNIQUE KEY,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,...,VEHICLE 1 TYPE,VEHICLE 2 TYPE,VEHICLE 3 TYPE,VEHICLE 4 TYPE,VEHICLE 5 TYPE,VEHICLE 1 FACTOR,VEHICLE 2 FACTOR,VEHICLE 3 FACTOR,VEHICLE 4 FACTOR,VEHICLE 5 FACTOR
0,3146911,1/1/15,0:20,QUEENS,11358.0,40.751847,-73.787862,"(40.7518471, -73.787862)",47 AVENUE,193 STREET,...,SPORT UTILITY/STATION WAGON,NaN,NaN,NaN,NaN,TRAFFIC CONTROL DISREGARDED,NaN,NaN,NaN,NaN
1,3146180,1/1/15,0:20,NaN,NaN,40.771289,-73.946693,"(40.7712888, -73.9466928)",NaN,NaN,...,PASSENGER VEHICLE,NaN,NaN,NaN,NaN,ANIMALS ACTION,NaN,NaN,NaN,NaN
2,3146384,1/1/15,0:21,BROOKLYN,11205.0,40.689445,-73.955121,"(40.6894449, -73.9551212)",BEDFORD AVENUE,LAFAYETTE AVENUE,...,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN,FATIGUED/DROWSY,UNSPECIFIED,NaN,NaN,NaN
3,3146013,1/1/15,0:30,BROOKLYN,11213.0,40.673845,-73.925080,"(40.6738445, -73.9250801)",BUFFALO AVENUE,SAINT MARKS AVENUE,...,BUS,PASSENGER VEHICLE,NaN,NaN,NaN,LOST CONSCIOUSNESS,NaN,NaN,NaN,NaN
4,3146120,1/1/15,0:33,NaN,NaN,NaN,NaN,NaN,RICHMOND TERRACE,SOUTH AVENUE,...,UNKNOWN,PASSENGER VEHICLE,NaN,NaN,NaN,UNSPECIFIED,UNSPECIFIED,NaN,NaN,NaN

In [138]:
# get the year from all data
car['Year'] = pd.to_datetime(car['DATE']).dt.year

In [139]:
# get the month from all data
car['Month'] = pd.to_datetime(car['DATE']).dt.month

In [145]:
# get the 2016 year's data
YearIn = car[car['Year']==2016]

In [166]:
MCountList=[]
MList=[]
PList=[]
NYCList =[]

for m in range(1, 13):
    MonthIn = YearIn[YearIn['Month']==m]
    TotalCount = YearIn[YearIn['Month']==m].count().Month
    Mcount = MonthIn[MonthIn['BOROUGH']=='MANHATTAN'].count().BOROUGH
    Percent = Mcount/TotalCount
    
    MList.append(m)
    MCountList.append(Mcount)
    NYCList.append(TotalCount)   
    PList.append(Percent)
    
# MCountList
# MList
# PList
# NYCList

In [167]:
data = {'MONTH':MList,'MANHATTAN':MCountList,'NYC':NYCList,'PERCENTAGE':PList}
frame = DataFrame(data)
frame.head()

   MANHATTAN  MONTH    NYC  PERCENTAGE
0       3178      1  18101    0.175570
1       3195      2  15985    0.199875
2       3479      3  18471    0.188349
3       3540      4  18331    0.193115
4       3432      5  20052    0.171155

In [170]:
# Write DataFrame to CSV 
frame.to_csv('Q1_PART ONE.csv')

In [171]:
output = pd.read_csv('Q1_PART ONE.csv')

In [172]:
output

    Unnamed: 0  MANHATTAN  MONTH    NYC  PERCENTAGE
0            0       3178      1  18101    0.175570
1            1       3195      2  15985    0.199875
2            2       3479      3  18471    0.188349
3            3       3540      4  18331    0.193115
4            4       3432      5  20052    0.171155
5            5       2956      6  19433    0.152112
6            6       3055      7  19867    0.153773
7            7       2844      8  19678    0.144527
8            8       2744      9  19492    0.140776
9            9       2831     10  19666    0.143954
10          10       2838     11  19315    0.146932
11          11       2634     12  19214    0.137088