## EMPLOYEE COMPENSATION ANALYSIS
### Q2_PART ONE
* Use 'employee_compensation' data set.
* Find out the highest paid departments in each organization group by calculating mean of total compensation for every department.
* Output should contain the organization group and the departments in each organization group with the total compensation from highest to lowest value.
* Display a few rows of the output use df.head().
* Generate a csv output.

In [242]:
from pandas import Series, DataFrame
import pandas as pd
import csv

In [243]:
employee = pd.read_csv('Data/employee_compensation.csv')

In [244]:
employee.head()

,Year Type,Year,Organization Group Code,Organization Group,Department Code,Department,Union Code,Union,Job Family Code,Job Family,...,Employee Identifier,Salaries,Overtime,Other Salaries,Total Salary,Retirement,Health/Dental,Other Benefits,Total Benefits,Total Compensation
0,Calendar,2013,2,"Public Works, Transportation & Commerce",AIR,Airport Commission,38.0,"Plumbers and Pipefitters, Local 38",7300,Journeyman Trade,...,52206,98528.52,0.00,3955.59,102484.11,20142.55,12918.24,8371.76,41432.55,143916.66
1,Fiscal,2015,4,Community Health,DPH,Public Health,790.0,"SEIU - Miscellaneous, Local 1021",2600,Dietary & Food,...,52950,69169.82,755.02,4179.08,74103.92,15641.92,12499.30,5669.02,33810.24,107914.16
2,Calendar,2016,3,Human Welfare & Neighborhood Development,WOM,Department of the Status of Women,323.0,Members of Boards and Commissions,0900,Management,...,33958,200.00,0.00,0.00,200.00,0.00,51.45,15.83,67.28,267.28
3,Calendar,2016,6,General Administration & Finance,HRD,Human Resources,790.0,"SEIU - Miscellaneous, Local 1021",8100,Legal & Court,...,33073,1783.00,0.00,0.00,1783.00,325.05,257.23,153.85,736.13,2519.13
4,Fiscal,2015,5,Culture & Recreation,REC,Recreation and Park Commission,790.0,"SEIU - Miscellaneous, Local 1021",9900,Public Service Aide,...,15849,1102.50,0.00,0.00,1102.50,0.00,538.82,85.36,624.18,1726.68

In [371]:
groupName = employee['Organization Group'].unique()

In [372]:
# check the unique group name
groupName

array(['Public Works, Transportation & Commerce', 'Community Health',
       'Human Welfare & Neighborhood Development',
       'General Administration & Finance', 'Culture & Recreation',
       'Public Protection', 'General City Responsibilities'], dtype=object)

In [373]:
# define the function to get the mean of each department for each group
def getDepMean(groupName):
    # pass the groupName and get df of each group
    group = employee[employee['Organization Group']==groupName] 
    # calculate each group's mean with each department
    calMean = group.groupby('Department')['Total Compensation'].mean()
    # extract the value and department name in the df
    s1 = DataFrame(calMean.index)
    s2 = DataFrame(calMean.values, columns=['Means'])
    # combine the df and sort by the mean value and add the orfamization name column
    frame = pd.concat([s1, s2], axis=1)
    frame['Organization'] = groupName
    frame.sort_values(by='Means',ascending=False)
    # switch the clolumn to organize, group and means.
    output = frame[['Organization','Department','Means']]
    # return the output.
    return output

In [375]:
group1 = getDepMean(groupName[0])
group2 = getDepMean(groupName[1])
group3 = getDepMean(groupName[2])
group4 = getDepMean(groupName[3])
group5 = getDepMean(groupName[4])
group6 = getDepMean(groupName[5])
group7 = getDepMean(groupName[6])

In [394]:
output = pd.concat([group1, group2,group3,group4,group5,group6], axis=0)

In [396]:
# Write DataFrame to CSV 
output.to_csv('Q2_PART ONE.csv')

In [397]:
output.head()

,Organization,Department,Means
0,"Public Works, Transportation & Commerce",Airport Commission,96191.578234
1,"Public Works, Transportation & Commerce",Board of Appeals,51990.634889
2,"Public Works, Transportation & Commerce",Department of Building Inspection,112051.615182
3,"Public Works, Transportation & Commerce",Economic and Workforce Development,106112.409432
4,"Public Works, Transportation & Commerce",General Services Agency - Public Works,89741.682567