## EMPLOYEE COMPENSATION ANALYSIS
### Q2_PART TWO

* Use 'employee_compensation' data set.
* Data contains fiscal and calendar year information. Same employee details exist twice in the dataset. Filter data by calendar year and find average salary (you might have to find average for each of the columns for every employee. Eg. Average of Total Benefits, Average of total compensation etc.) for every employee.
* Now, find the people whose overtime salary is greater than 5% of salaries (salaries refers to ’Salaries' column)
* For each ‘Job Family’ these people are associated with, calculate the percentage of total benefits with respect to total compensation (so for each job family you have to calculate average total benefits and average total compensation). Create a new column to hold the percentage value.
* Display the top 5 Job Families according to this percentage value using df.head().
* Write the output (jobs and percentage value) to a csv.

In [1]:
from pandas import Series, DataFrame
import pandas as pd
import csv

In [2]:
employee = pd.read_csv('Data/employee_compensation.csv')

In [384]:
employee.head()

,Year Type,Year,Organization Group Code,Organization Group,Department Code,Department,Union Code,Union,Job Family Code,Job Family,...,Employee Identifier,Salaries,Overtime,Other Salaries,Total Salary,Retirement,Health/Dental,Other Benefits,Total Benefits,Total Compensation
0,Calendar,2013,2,"Public Works, Transportation & Commerce",AIR,Airport Commission,38.0,"Plumbers and Pipefitters, Local 38",7300,Journeyman Trade,...,52206,98528.52,0.00,3955.59,102484.11,20142.55,12918.24,8371.76,41432.55,143916.66
1,Fiscal,2015,4,Community Health,DPH,Public Health,790.0,"SEIU - Miscellaneous, Local 1021",2600,Dietary & Food,...,52950,69169.82,755.02,4179.08,74103.92,15641.92,12499.30,5669.02,33810.24,107914.16
2,Calendar,2016,3,Human Welfare & Neighborhood Development,WOM,Department of the Status of Women,323.0,Members of Boards and Commissions,0900,Management,...,33958,200.00,0.00,0.00,200.00,0.00,51.45,15.83,67.28,267.28
3,Calendar,2016,6,General Administration & Finance,HRD,Human Resources,790.0,"SEIU - Miscellaneous, Local 1021",8100,Legal & Court,...,33073,1783.00,0.00,0.00,1783.00,325.05,257.23,153.85,736.13,2519.13
4,Fiscal,2015,5,Culture & Recreation,REC,Recreation and Park Commission,790.0,"SEIU - Miscellaneous, Local 1021",9900,Public Service Aide,...,15849,1102.50,0.00,0.00,1102.50,0.00,538.82,85.36,624.18,1726.68

In [60]:
# Filter data by calendar year 
CalendarYear = employee[employee['Year Type']=='Calendar']

In [ ]:
CalendarYear['Employee Identifier']

In [354]:
# get the series of JobFamily for each employee
JobFamily = employee.groupby('Employee Identifier')['Job Family'].value_counts()

In [117]:
# define the function to calculate the mean for each column of each employee.
def allAverage(col):
    ave = employee.groupby('Employee Identifier')[col].mean()
    return ave

In [118]:
# get all the average for each cokumn 
Salaries = allAverage('Salaries')

In [83]:
Overtime = allAverage('Overtime')

In [84]:
OtherS = allAverage('Other Salaries')

In [85]:
TotalS = allAverage('Total Salary')

In [86]:
Retirement= allAverage('Retirement')

In [87]:
Health = allAverage('Health/Dental')

In [88]:
OtherB = allAverage('Other Benefits')

In [89]:
TotalB = allAverage('Total Benefits')

In [90]:
TotalC = allAverage('Total Compensation')

In [359]:
# combine all the series 
frame = pd.concat([Salaries,Overtime, OtherS, TotalS,Retirement,Health,OtherB,TotalB,TotalC], axis=1)

In [210]:
frame['5%Salaries']=frame['Salaries'].apply(lambda x : x*0.05)

In [223]:
# find the people whose over time salary is greater than 5% of salaries
frameObig = frame[frame['Overtime']>frame['5%Salaries']]

In [361]:
frameObig.head()

,Salaries,Overtime,Other Salaries,Total Salary,Retirement,Health/Dental,Other Benefits,Total Benefits,Total Compensation,5%Salaries
Employee Identifier,,,,,,,,,,
6,132579.31000,33892.200000,19926.645000,187661.615000,29394.532500,15933.060000,3103.6650,48431.257500,236092.8725,6628.965500
8,51754.58750,4106.932500,1248.630000,57865.642500,13885.277500,10584.302500,4354.0175,28823.597500,86689.2400,2587.729375
18,69327.57500,27338.112500,2081.757500,99827.965000,19194.040000,14304.200000,7545.3750,41043.615000,140871.5800,3466.378750
20,52026.80125,5763.415000,882.415000,63231.962500,13241.057500,12437.577500,4823.9875,30502.622500,93734.5850,2601.340063
23,15962.41600,1214.496667,936.886667,15453.396667,3605.706667,4243.386667,1164.9800,9014.073333,24467.4700,798.120800

In [281]:
people = DataFrame(frameObig.index)

In [336]:
peopleList = people['Employee Identifier'].values.tolist()

In [362]:
# get the series of JobFamily for each employee
JobFamily = DataFrame(employee.groupby('Employee Identifier')['Job Family'].value_counts())

In [363]:
JobFamily.index.values
# apply(lambda x : x[0][1])

array([(1, 'Payroll, Billing & Accounting'),
       (2, 'Protection & Apprehension'),
       (3, 'Clerical, Secretarial & Steno'), ..., (55197, 'Nursing'),
       (55198, 'Nursing'), (55199, 'Legal & Court')], dtype=object)

In [364]:
JobFamilyf = DataFrame(JobFamily.index.values,columns=['Job Family'])

In [365]:
JobFamilyf['Employee Identifier'] = JobFamilyf['Job Family'].apply(lambda x : x[0])

In [366]:
JobFamilyf['Job Family'] = JobFamilyf['Job Family'].apply(lambda x : x[1])

In [367]:
newF = JobFamilyf[['Employee Identifier', 'Job Family']]

In [368]:
newF.head()

   Employee Identifier                     Job Family
0                    1  Payroll, Billing & Accounting
1                    2      Protection & Apprehension
2                    3  Clerical, Secretarial & Steno
3                    4      Lab, Pharmacy & Med Techs
4                    5                     Recreation

In [377]:
df = pd.DataFrame(index=peopleList)

In [379]:
df.index.values

array([    6,     8,    18, ..., 55190, 55194, 55197])

In [385]:
# newF['Employee Identifier'].apply(lambda x : x)

In [386]:
# employee['Job Family'].value_counts()

In [128]:
employee['Employee Identifier'].unique()

array([52206, 52950, 33958, ..., 51269, 30906, 47691])