## CRICKET MATCHES ANALYSIS
### Q3_PART ONE
* Use ‘cricket_matches’ data set.
* Calculate the average score for each team which host the game and win the game.
* Remember that if a team hosts a game and wins the game, their score can be innings_1 runs or innings_2 runs. You have to check if the host team won the game, check which innings they played in (innings_1 or innings_2), and take the runs scored in that innings. The final answer is the average score of each team satisfying the above condition.
* Display a few rows of the output use df.head()
* Generate a csv output

In [39]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np
import csv

In [2]:
cricket = pd.read_csv('Data/cricket_matches.csv')

In [3]:
cricket.head()

,match_details,result,scores,date,venue,round,home,away,winner,win_by_runs,...,innings1_wickets,innings1_overs_batted,innings1_overs,innings2,innings2_runs,innings2_wickets,innings2_overs_batted,innings2_overs,D/L_method,target
0,North Group:Durham v Nottinghamshire at Cheste...,Durham won by 6 wickets (with 5 balls remaining),Nottinghamshire 157/7 (20/20 ov); Durham 160/4...,13/06/2003,Chester-le-Street,North Group,Durham,Nottinghamshire,Durham,NaN,...,7.0,20.0,20.0,Durham,160.0,4.0,19.1,20.0,NaN,NaN
1,South Group:Hampshire v Sussex at Southampton-...,Hampshire won by 5 runs,Hampshire 153 (19.4/20 ov); Sussex 148/7 (20/2...,13/06/2003,Southampton,South Group,Hampshire,Sussex,Hampshire,5.0,...,10.0,19.4,20.0,Sussex,148.0,7.0,20.0,20.0,NaN,NaN
2,Midlands/Wales/West Group:Somerset v Warwicksh...,Warwickshire won by 19 runs,Warwickshire 188/7 (20/20 ov); Somerset 169 (2...,13/06/2003,Taunton,Midlands/Wales/West Group,Somerset,Warwickshire,Warwickshire,19.0,...,7.0,20.0,20.0,Somerset,169.0,10.0,20.0,20.0,NaN,NaN
3,South Group:Surrey v Middlesex at The Oval- Ju...,Surrey won by 4 wickets (with 4 balls remaining),Middlesex 155 (20/20 ov); Surrey 158/6 (19.2/2...,13/06/2003,The Oval,South Group,Surrey,Middlesex,Surrey,NaN,...,10.0,20.0,20.0,Surrey,158.0,6.0,19.2,20.0,NaN,NaN
4,Midlands/Wales/West Group:Worcestershire v Nor...,Worcestershire won by 1 wicket (with 2 balls r...,Northamptonshire 150/9 (20/20 ov); Worcestersh...,13/06/2003,Worcester,Midlands/Wales/West Group,Worcestershire,Northamptonshire,Worcestershire,NaN,...,9.0,20.0,20.0,Worcestershire,151.0,9.0,19.4,20.0,NaN,NaN

In [15]:
# find the df that the host is winner
cricket1 = cricket[cricket['home']== cricket['winner']]

In [72]:
# find the df that the host is winned runs1
cricketinning1 = cricket1[cricket1['home']==cricket1['innings1']]

In [85]:
# get the df that contains the scores and home name
inning1score = cricketinning1[['home','innings1_runs']]

In [86]:
inning1score.head()

              home  innings1_runs
1        Hampshire          153.0
6           Surrey          182.0
7        Yorkshire          186.0
10  Leicestershire          174.0
17          Sussex          177.0

In [87]:
# change the column name to score to make the calculation easy
inning1score=inning1score.rename(columns = {'innings1_runs':'score'})

In [89]:
inning1score.head()

              home  score
1        Hampshire  153.0
6           Surrey  182.0
7        Yorkshire  186.0
10  Leicestershire  174.0
17          Sussex  177.0

In [17]:
# find the df that the host is winned runs2
cricketinning2 = cricket1[cricket1['home']==cricket1['innings2']]

In [21]:
# find the df that the host is winned runs1
inning2score = cricketinning2[['home','innings2_runs']]

In [90]:
# change the column name to score to make the calculation easy
inning2score=inning2score.rename(columns = {'innings2_runs':'score'})

In [92]:
inning2score.head()

              home  score
0           Durham  160.0
3           Surrey  158.0
4   Worcestershire  151.0
5  Gloucestershire  126.0
9             Kent  147.0

In [104]:
# get the df that contains the score for each team
frame = pd.concat([inning1score, inning2score], axis=0)

In [106]:
frame.head()

              home  score
1        Hampshire  153.0
6           Surrey  182.0
7        Yorkshire  186.0
10  Leicestershire  174.0
17          Sussex  177.0

In [111]:
# calculate the average score according to the 
calAve = frame.groupby('home')['score'].mean()

In [115]:
s1 = DataFrame(calAve.index)
s2 = DataFrame(calAve.values, columns=['Score'])

In [116]:
output = pd.concat([s1, s2], axis=1)

In [118]:
# Write DataFrame to CSV 
output.to_csv('Q3_PART ONE.csv')

In [119]:
output = pd.read_csv('Q3_PART ONE.csv')

In [120]:
output.head()

   Unnamed: 0                home       Score
0           0     Abahani Limited  172.000000
1           1  Abbottabad Falcons  139.454545
2           2   Abbottabad Region  182.666667
3           3   Abbottabad Rhinos  165.000000
4           4   Adelaide Strikers  163.111111