## MOVIE AWARDS ANALYSIS
### Q4_PART ONE
* Use ‘movies_awards’ data set.
* You are supposed to extract data from the awards column in this dataset and split it into several columns. An example is given below.
* The awards has details of wins, nominations in general and also wins and nominations in certain categories(e.g. Oscar, BAFTA etc.)
* You are supposed to create a win and nominated column (these 2 columns contain total number of wins and nominations) and other columns that extract the number of wins and nominations for each category of award.
* If a movie has 2 Oscar nominations and 4 Oscar won, the columns Oscar_Awards_Won should have value 4 and Oscar_Awards_Nominated should have value 2. You should also have a total won and nominated column which aggregates all the awards (won or nominated).
* Create two separate columns for each award category (won and nominated).
* Write your output to a csv file. (Sample output is given in next page)

In [1]:
from pandas import Series, DataFrame
import pandas as pd
import csv

In [2]:
movies = pd.read_csv('Data/movies_awards.csv')

In [3]:
movies.head()

,totalSeasons,Plot,Rated,Response,Language,Title,Country,Writer,Metascore,imdbRating,...,Released,Actors,Year,Genre,Awards,Runtime,Type,Poster,imdbVotes,imdbID
0,none,NaN,NaN,True,English,Book of Love: The Definitive Reason Why Men Ar...,USA,Jeffrey W. Byrd; Eric George,NaN,6.6,...,14 Feb 2002,40 Glocc; Angelle Brooks; David Brown; Qadr Ca...,2002,Romance; Comedy,NaN,91 min,movie,NaN,79.0,tt0156376
1,none,NaN,NaN,True,Swedish,Anderssons älskarinna,Sweden,NaN,NaN,7.4,...,12 Feb 2001,Jakob Eklund; Ebba Forsberg; Örjan Landström; ...,2001,Drama,NaN,347 min,movie,NaN,34.0,tt0201374
2,none,NaN,NaN,True,English,Bad Blood,UK,Tony Marchant,NaN,5.6,...,11 Jan 2001,Emilia Fox; Serban Celea; Alex Jennings; Steve...,2001,NaN,NaN,NaN,movie,NaN,8.0,tt0207989
3,none,A historical classic drama in three acts; reto...,NaN,True,Portuguese,Who Are You?,Portugal,João Botelho; Almeida Garrett (play),NaN,6.1,...,23 Nov 2001,Patrícia Guerreiro; Suzana Borges; Rui Morisso...,2001,Drama; History,1 win & 2 nominations.,112 min,movie,http://ia.media-imdb.com/images/M/MV5BMTM1Mjdi...,189.0,tt0210930
4,none,A father (Williams) suspects his son (Jackson)...,R,True,English,Skeletons in the Closet,USA,Donna Powers; Wayne Powers,NaN,5.4,...,24 Jul 2001,Treat Williams; Linda Hamilton; Jonathan Jacks...,2001,Crime; Drama; Mystery,1 win.,100 min,movie,http://ia.media-imdb.com/images/M/MV5BMjA0NjA2...,603.0,tt0212513

In [13]:
df1 = DataFrame(movies['Awards'])

In [15]:
df = df1.dropna()

In [20]:
df.head(10)

                                               Awards
3                              1 win & 2 nominations.
4                                              1 win.
5                                       1 nomination.
6                             3 wins & 2 nominations.
7                               1 win & 1 nomination.
11                                     5 nominations.
13                            2 wins & 5 nominations.
15  Nominated for 1 Oscar. Another 13 wins & 13 no...
18                            5 wins & 4 nominations.
24  Nominated for 1 Golden Globe. Another 14 wins ...

In [68]:
df.to_csv('simple.csv')

In [ ]:
movie.title.apply(lambda x : int(x[-5:-1]) if x[-5:-1].isdigit() else 1990 ).tail()

In [23]:
df.Awards.apply(lambda x : x[0]).value_counts()

1    936
2    338
3    125
N    111
4     89
5     59
W     57
6     41
7     25
8     24
9     13
Name: Awards, dtype: int64

In [67]:
df.Awards.apply(lambda x : x[0]).head()

3    1
4    1
5    1
6    3
7    1
Name: Awards, dtype: object

In [ ]:
searchfor = ['og', 'at']
s[s.str.contains('|'.join(searchfor))]

In [ ]:
searchfor = []

In [93]:
awards_won= df.Awards.apply(lambda x : x[0] if x[0:5].find('win')!= -1 else 0 )

In [95]:
awards_nominated= df.Awards.apply(lambda x : x[0] if x[0:5].find('nom')!= -1 else 0 )

In [98]:
N = df.Awards.apply(lambda x : x if x.startswith('N') else 0 )

In [129]:
# N.head(10)

In [121]:
N1 = df.Awards.apply(lambda x : x[0:16] if x.startswith('N') else 0)

In [124]:
# N1

In [128]:
# awards_won = df.Awards.apply(lambda x : x[0] if x[0:5].find('win')!= -1 else x )

In [127]:
# df2.head()

In [126]:
# Awards_Won.head()

In [125]:
# df.Awards.apply(lambda x : (x[0:5]))

In [ ]:
df.Awards.apply(lambda x : int(x[-5:-1]) if x[-5:-1].isdigit() else 1990 ).tail()